{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>   
        <title>☺☻</title>
    </head> 
    <body>
        <div class="content">
            <div class="row">
                {% for post in articles %}
                <div class="post">
                    <div class="article-date">
                        <p>Время публикации: {{ post.date }}</p>
                    </div>
                    <h1 class="article-title">{{ post.title }}</h1> 
                    <div class="article-text">
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    <div class="article-author">
                        <p>Автор статьи: {{post.id_author}}</p>
                    </div>
                </div>
                {% endfor %}
            </div> 
        </div>
    </body>    
</html>